@import "tailwindcss";

@theme {
  --image-header: url('/bg.jpg');

}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.25; }
}

@utility animate-blink {
  animation: blink 1.5s ease-in-out infinite;
}